<div class="container">
<div class="row">
<h1 class="intro">Stupid Coaching</h1>
<h4 class="intro">Ask your coach anything:</h4>
<form action="answer" id="form">
    <input type="text" placeholder="" name="question" id="box">
    <input type="submit" value="GO!" id="submit">
</form>
</div>
</div>


